body {
    width: 80%;
    margin: auto;
    border-radius: 86px;
    background-color: #f56161;
    max-width: max-content;
    height: max-content;
    border-radius: 50px;
    box-shadow: 21px 21px 42px #622727,
        -21px -21px 42px #ff9b9b;
}

#titulo-tareas {
    text-align: center;
}

#caja-tareas {
    border: rgb(255, 255, 255) solid 2px;
    min-height: 50vh;
    max-width: 100%;
    border-radius: 15px;        
    background-color: #0dcee7;
    margin-bottom: 30px;
}

#boton-ingresar {
    background-color: blue;
    border-radius: 5px;
    height: 33px;

}

#ingresar-tarea {
    border-radius: 1px;
    flex-direction: column;
    border-radius: 5px;
}

/* .main-div {
    display: flex;
    justify-content: space-around;
    border: 0px solid rgb(0, 0, 0);
    min-width: 100vh;
    border-radius: 50px;
} */

.task-div {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #0dcee7;
    margin-bottom: 30px;
}

.completed-div {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.circulo {
    width: 80px;
    height: 80px;
    border: 3px solid rgb(255, 252, 252);
    border-radius: 50%;
    position: relative;
}

.circulo span {
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
}

.input-div {
    padding-right: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#tareas-completadas {
    height: 6px;
}

#no-hay-tareas {
    text-align: center;
    display: flex;
}

#listaTareas {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#listaTareas li {
    list-style-type: none;
}

.estilolista {
    display: flex;
    margin: 10px;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.estilolista input {
    width: 10%;
}

.estilolista label {
    width: 60%;
}

.estilolista button {
    width: 30%;
}

.estilolista:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

